# Cleaning the Cyclistic's trip data

<br>
<br>
<br>

In order to contribute in the analysis, the data had to be cleaned. For that reason the data were imported into a Microsoft SQL Server table, namely ‘cyclistic_database’, which was created for this case (see figure 1).

<br>
<br>

**Figure 1**<br>
*Creation of Cyclistic table*
<figure>
    <img src="create_12_months_table.png" alt="Creation of Cyclistic table" width="300" height="577" align="left">
</figure>
<br clear="left">
<br>
<br>

With the help of SQL, the field containing the ids of the rides (i.e., ride_id) was check for distinct values (see figure 2). A SQL query was, also, ran to identify the different types of bike users (members or casual) and the different types of bikes (see figure 2). 

<br>
<br>

**Figure 2**<br>
*Check for distinct values into ride_id column*
<figure>
    <img src="check_ride_id.png" alt="Check for distinct values into ride_id column" align="left" width="400" height="72">
</figure>
<br clear="left">
<br>
<br>

The two next queries present the different type of users and the different bike types that was used (see figure 3). The right image of figure 3 shows that there were 3.414.567 rides from members and 2.468.479 rides from casual riders. Furthermore, 2.896.658 classic bikes, 2.778.399 electric bikes and 207.986 docked rides were used.

<br>
<br>

**Figure 3**<br>
*Different types of users and type of bikes*
<figure>
    <img src="check_member_and_bike_type.png" alt="Different types of users and type of bikes" align="left" width="400" height="240">
    <img src="results_for_member_and_bike_type.png" alt="Different types of users and type of bikes" width="300" height="321">
</figure>
<br clear="left">
<br>
<br>

Now, some new columns were added to the table, to help the upcoming analysis. From the columns `started_at` and `ended_at`, which contained data about the day and time its ride started and ended, the columns `date_started_at`, `time_started_at`, `date_ended_at` and `time_ended_at` were created which separate the date from the time. In addition, the columns `ride_length_in_seconds` and `ride_length` were add, which represented the duration of each ride in seconds and in hhh:mm:ss format respectively. Another column, named `day_of_week`, was add showing the day of week for each ride in a range from 1 up to 7, where 1 is for Sunday and 7 for Saturday. From columns containing information about the longitude and latitude of the starting and ending stations corresponding columns with the appropriate representation of the coordinates were added. For the columns `start_station_name`, `start_station_id`, `end_station_name` and `end_station_id` new columns with no extra spaces at the beginning, end and middle were added. The figure 4 i -v shows the corresponding queries

<br>
<br>

**Figure 4**<br>
*i. Creation of date and time columns for the start and end of each ride*
<figure>
    <img src="create_started_ended_date_time_columns.png" alt="Creation of date and time columns for the start and end of each ride" align="left" width="400" height="204">
</figure>
<br clear="left">

*ii. Creation of ride length in seconds and hhh:mm:ss format columns*
<figure>
    <img src="create_ride_length_in_sec.png" alt="Creation of ride length in seconds and hhh:mm:ss format columns" align="left" width="500" height="140">
    <br clear="left">
    <img src="create_ride_length.png" alt="Creation of ride length in seconds and hhh:mm:ss format columns" align="left" width="600" height="198">
</figure>
<br clear="left">

*iii. Creation of day of week column*
<figure>
    <img src="create_day_of_week.png" alt="Creation of day of week column" align="left" width="400" height="128">
</figure>
<br clear="left">

*iv. Creation of longitude, latitude columns with appropriate representation of coordination*
<figure>
    <img src="create_lng_lat_coord.png" alt="reation of longitude, latitude columns with appropriate representation of coordination" align="left" width="800" height="440">
</figure>
<br clear="left">

*v. Creation of columns with on extra spaces*
<figure>
    <img src="create_trim_columns.png" alt="Creation of columns with on extra spaces" align="left" width="800" height="320">
</figure>
<br clear="left">

<br>
<br>

Finally, the records for whom the start of the ride was after the end were deleted, for they had no meaning. The records whose bike type was docked was, also, removed (see figure 5).

<br>
<br>

**Figure 5**<br>
*Deletion of records from Cyclistic table*
<figure>
    <img src="delete_started_at_greater_ended_at.png" alt="Deletion of records from Cyclistic table" align="left" width="400" height="68">
    <img src="delete_docked_bikes.png" alt="Deletion of records from Cyclistic table" width="400" height="64">
</figure>
<br clear="left">

<br>
<br>

Now with the dataset cleaned the r programming language was used in order to explore and visualize the data. For that a connection to the SQL Server was established and the data was stored in a data frame.